@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    min-width: 100vw;
}

/* navbar area */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(255, 252, 209); */
    position: relative;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid black;
}

.logo img {
    width: 150px;
    border-radius: 100%;
    border: 5px solid #fff48e;
}

.navbar {
    width: 50%;
}

.navbar p {
    display: none;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 600;
}

.navbar ul li a:hover {
    background-color: #ffadaa;
    color: #fff;
}

#sign {
    background: #fff;
    border: 1px solid #9c9c9c;
    border-radius: 50px;
    display: flex;
    align-items: center;

}

#sign span {
    margin: 0 15px 0 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
}

#sign {
    text-decoration: none;
    color: #000;
}

#sign img {
    width: 40px;
    margin: 2px;
}

#sign:hover {
    border: 1px solid #c0c0c0;
    background: #f7f7f7;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    /* right: 5%; */
    margin-left: 80%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}

/* responsive settings */

@media (max-width: 1068px) {
    .header {
        justify-content: space-between;
        padding: 0 10%;
        width: 90%;
        margin: auto;
    }

    .btn {
        margin-right: 10%;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icons{
        display: none;
    }

    .icons #close-icons{
        display: none;
    }

    #check:checked~.icons #close-icons{
        display: block;
    }

    .navbar p {
        display: block;
        margin: 7rem 30px;
        font-size: 29px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .navbar p span {
        color: #ffadaa;
    }

    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        overflow: hidden;
        transition: 0.2s ease;
    }

    .navbar ul {
        display: block;
        /* padding: 10px 0; */
    }

    #check:checked~.navbar{
        width: 18.7rem;
        font-size: 40px;
        height: 100vh;
        background: #fff;
    }
    .navbar a{
        display: block;
        border: 2px solid black;
        margin: 2.5rem 10%;
        font-size: 30px;
        text-align: center;
        transform: translateX(-50px);
        color: black;
        border: none;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
    }
}

@media (max-width: 733px) {
    .logo img {
        width: 100px;
    }
    .btn {
        width: 100px;
    }
    #sign img {
        width: 30px;
    }
    #sign span {
        font-size: 12px;
        margin: 0 7px 0 3px;
    }
    .icons {
        font-size: 2rem;
    }
}

@media (max-width: 503px) {
    .logo img {
        width: 70px;
    }
    .btn {
        width: 80px;
    }
    #sign img {
        width: 25px;
    }
    #sign span {
        font-size: 10px;
        margin: 0 5px 0 3px;
    }
    .icons {
        font-size: 2rem;
    }
}