@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    min-width: 100vw;
}

/* navbar area */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(255, 252, 209); */
    position: relative;
    width: 100%;
    margin: auto;
}

.logo img {
    width: 150px;
    border-radius: 50%;
}

.navbar {
    width: 50%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 600;
}

.navbar ul li a:hover {
    background-color: #ffadaa;
    color: #fddc5c;
}

#sign {
    background: #fff;
    color: #000;
    padding: 5px 15px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #000;
    border-radius: 5px;
}

#sign:hover {
    border: 2px solid #ffadaa;
    background: #ffadaa;
    color: #ffa;
}

#check {
    display: none;
}

.icons {
    /* position: absolute; */
    margin-left: 10%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}

/* responsive settings */

@media (max-width: 1068px) {
    .navbar {
        display: none;
    }

    .header {
        justify-content: space-between;
        padding: 0 10%;
        margin: auto;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icons{
        display: none;
    }

    .icons #close-icons{
        display: none;
    }

    #check:checked~.icons #close-icons{
        display: block;
    }
}

@media (max-width: 657px) {
    .btn {
        display: none;
    }
}