@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    min-width: 100vw;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: yellow;
}

.logo img {
    width: 150px;
    border-radius: 50%;
}

.navbar {
    width: 50%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 600;
}

.navbar ul li a:hover {
    background-color: #ff817d;
    color: #ffffff;
}

.btn {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn img {
    width: 35px;
}

@media (max-width: 1200px) {
    .navbar {
        display: none;
    }
    .header {
        justify-content: space-between;
        padding: 0 20px;
    }
}