@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Arya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

:root {
    --main-color: #ff618e;
    /* --primary-color: #5b00c4; */
    /* --main-color: #ff9187; */
    --primary-color: #640082;
    --bg-color: #ffeeec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Aladin', 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
}

.header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 12vh;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 7rem;
    border-radius: 50%;
    border: 2px solid #000;
    
}

.header .navbar a {
    color: #fff;
    font-size: 2.2rem;
    margin: 0 3rem;
    padding: 0.3rem 1rem;
}

.header .navbar a:hover{
    color: var(--primary-color);
    border-bottom: 0.3rem solid var(--primary-color);
}


.header .icons {
    display: flex;
}

.header .icons .link {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 3rem;
    background: none;
    border: none;
}

.header .icons .link:hover {
    color: var(--primary-color);
}

.header .icons .menu {
    display: none;
}

/* Search Bar */

.header .search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 110%;
    right: -100%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: 10px;
    transition: 0.6s ease
}

.header .search-bar.active {
    right: 7%;
}

.header .search-bar input {
    width: 100%;
    height: 100%;
    padding: 0 1.4rem;
    font-size: 2.7rem;
    color: #000;
    border: none;
    border-radius: 10px;
}

.header .search-bar label {
    font-size: 2.7rem;
    margin: 0 1rem;
    cursor: pointer;
}

.header .search-bar label:hover {
    color: var(--main-color)
}

/* home section */

.home {
    margin-top: 5.75%;
    width: 100%;
    height: 90vh;
    color: var(--primary-color);
    background: pink;
    background-image: url('media/oh.jpeg');
    /* background-image: url('media/bg\ \(4\).jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.home .hero {
    margin-left: 7%;
    width: 36%;
}


.home .hero h2 {
    font-size: 5.5rem;
    width: 90%;
    margin: 10px 0;
}

.home .hero p {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 10px 0;
    font-family: 'Arya';
    line-height: 2rem;
    /* margin-bottom: 4rem; */
}

.home .hero a {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 1.3rem 3rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 1rem;
    margin: 2rem 0;
}

.home .hero a:hover {
    background-color: var(--main-color);
}

.display .items {
    border: 2px solid black;
}